section {
  padding: 20px;
}

img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 20px;
}

h1, h2, h3, h4 {
    color: #3d5a80;
    font-weight: 600;
  }
h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #555;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  font-size: 16px;
  margin-bottom: 10px;
}

strong {
  font-weight: bold;
}

.fab{
    line-height: inherit;
}
.project_title{
    max-width: 80%;
    padding-left: 30px;
}
.project_intro{
    padding-top: 80px;
    width: 100%;
    display: block;
    word-wrap: break-word;
    position: relative;
    font-family: inherit;
    font-size: 100%;
    line-height: inherit;
    font-weight: inherit;
    font-style: inherit;
    overflow: visible;
}
.project_content_image{
    width: 55%;
    display: inline-block;
    vertical-align: top;
}
.project_content_image .project_image{
    border-radius: 15px;
    overflow: hidden;
}
.project_content_image .project_image img{
    max-width: 100%;
    height: auto;
    vertical-align: top;
}
.project_content_details{
    width: 40%;
    display: inline-block;
    vertical-align: top;
    padding-left: 6em;
}
.project_content_details .project_content_details_item{
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
}
.project_content_details .project_content_details_item .project_content_details_item_title{
    width: 40%;
    font-weight: 700;
    color: black;
}
.project_content_details .project_content_details_item .project_content_details_item_value{
    width: 60%;
    font-weight: 400;
    color: #555;
}
.project_content_details_share .project_content_details_item_title{
    display: none;
}
.project_content_details_wrap .project_content_details .project_content_details_item + .project_content_details_item {
    margin-top: 11px;
}
.project_description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project_description h2{
  font-size: 36px;
  margin-bottom: 15px;
}
.project_description span{
  padding: 0 10.5em;
  margin-bottom: 15px;
}
.project_description .btn a{
  font-size: 14px;
    margin-top: 20px;
    color: #3d5a80;
    text-transform: uppercase;
    border-radius: 50px;
    text-decoration: none;
    outline: none;
    padding: 20px 32px;
    cursor: pointer;
    box-shadow: 0px 12px 32px rgb(39 69 190 / 10%);
    border: 1px solid #3d5a80;
}
.project_description .btn a:hover {
  color: #fff;
  background-color: #3d5a80;
  transform-origin: left;
  transition: 0.4s ease-in;
}
.screenshots {
  min-height: 100vh;
}

.screenshots .box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
}

.screenshots .box-container .box {
  height: 15rem;
  width: 25rem;
  margin: 15px;
}

.screenshots .box-container .box h1 {
  margin-bottom: 2rem;
  color: var(--red);
}

.screenshots .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.screenshots .box-container .box:hover img {
  transform: scale(1.1);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
img.mfp-img {
  width: auto;
  max-width: 60%;

}
.mfp-image-holder .mfp-content {
  max-width: 85%;
}

@media only screen and (max-width: 415px){
    .project_title {
        max-width: 100%;
      }
    
      .project_content_image {
        width: 100%;
      }
    
      .project_content_details {
        width: 100%;
        padding-left: 3em;
      }
    
      .project_content_details .project_content_details_item {
        display: block;
        margin-bottom: 15px;
        font-size: 15px;
      }
      .project_description span {
        padding: 0;
      }
}