@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  color: #fff;
  overflow-x: hidden;
}

.main {
  padding: 70px;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.main .shape img {
  position: absolute;
  width: 100%;
  z-index: -9;
}
.main .shape .shape1 {
  right: -160px;
  top: -50%;
  width: 450px;
  opacity: 0.2;
  transform-origin: center;
  animation: shape linear 30s infinite reverse;
}
.main .shape .shape2 {
  left: -70px;
  bottom: -50px;
  width: 450px;
  opacity: 0.2;
  transform-origin: center;
  animation: shape linear 30s infinite reverse;
}
.main .shape .shape3 {
  left: 0;
  top: 0;
  width: 250px;
  opacity: 0.2;
  transform-origin: center;
  -webkit-animation: shape3 linear 20s infinite;
          animation: shape3 linear 20s infinite;
  transform: translate(-200px, -100px) rotate(0deg);
}
.main .shape .shape4 {
  left: 0;
  bottom: 0;
  width: 150px;
  opacity: 0.2;
  transform-origin: center;
  -webkit-animation: shape4 linear 20s infinite 5s;
          animation: shape4 linear 20s infinite 5s;
  transform: translate(700px, 80px) rotate(0deg);
}
.main .shape .shape5 {
  left: 500px;
  top: 0;
  width: 100px;
  opacity: 0;
  transform-origin: center;
  -webkit-animation: shape5 linear 25s infinite;
          animation: shape5 linear 25s infinite;
  transform: translate(0, -150px) rotate(0deg);
}
.main header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 300px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.main header .links a {
  margin-right: 20px;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  color: #3d5a80;
  position: relative;
  padding: 10px;
}
.main header .links a:hover {
  background-color: #3d5a80;
  color: #fff;
  background-color: #3d5a80;
  color: #fff;
  border-radius: 50px;
  transform-origin: left;
  transition: 0.4s ease-in;
}
.main header .logo a img {
  width: 100px;
}
.main header .device {
  display: none;
  position: relative;
  width: 100%;
  height: 100vh;
}
.main header .device .container .open-main-nav {
  position: absolute;
  top: 15px;
  padding-top: 20px;
  right: 15px;
  z-index: 1000;
  background: none;
  border: 0;
  cursor: pointer;
}
.main header .device .container .open-main-nav:focus {
  outline: none;
}
.main header .device .container .open-main-nav .burger i {
  position: relative;
  display: block;
  font-size: 35px;
  margin: 0 auto;
  color: #3d5a80;
  transform: skew(5deg);
  transition: all 0.275s;
}
.main header .device .container .open-main-nav .burger::after, .main header .device .container .open-main-nav .burger::before {
  content: "";
  display: block;
  height: 100%;
  background: #5A3B5D;
  transition: all 0.275s;
}
.main header .device .container .open-main-nav .burger::after {
  transform: translateY(-12px) translateX(-2px) skew(-20deg);
}
.main header .device .container .open-main-nav .burger::before {
  transform: translateY(-16px) skew(-10deg);
}
.main header .device .container .open-main-nav #burger.is-open {
  transform: skew(5deg) translateY(-8px) rotate(-45deg);
}
.main header .device .container .open-main-nav #burger.is-open::before {
  transform: translateY(0px) skew(-10deg) rotate(75deg);
}
.main header .device .container .open-main-nav #burger.is-open::after {
  transform: translateY(-12px) translateX(10px) skew(-20deg);
  opacity: 0;
}
.main header .device .container .open-main-nav .burger-text {
  display: block;
  font-size: 0.675rem;
  letter-spacing: 0.05em;
  margin-top: 0.5em;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  color: #3d5a80;
}
.main header .device .container .logo_mobile a img {
  width: 100px;
}
.main header .device .container .is-open .burger i {
  color: #fff;
}
.main header .device .container .is-open .burger-text {
  color: #fff;
}
.main header .device .main-nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  background: #fff;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  transition: all 0.375s;
}
.main header .device .main-nav::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -15px;
  background: #3d5a80;
  transform-origin: 0 0;
  transform: skew(-14deg) translateX(-120%);
  transition: all 0.275s 0.1s;
}
.main header .device .main-nav ul {
  list-style: none;
  padding: 0;
  display: inline-flex;
  flex-direction: column;
  height: 80%;
  /* Should be 100%, but we have a notice message :D */
  align-items: flex-end;
  justify-content: center;
  transform: translateX(-18%) skew(-16deg);
}
.main header .device .main-nav ul li {
  list-style: none;
  padding: 0;
  display: block;
  margin: 0.5rem 0;
  text-align: right;
  transform: skew(16deg);
}
.main header .device .main-nav ul li a {
  opacity: 0;
  transform: translateY(-10px);
  display: block;
  padding: 12px 0;
  color: #fff;
  font-size: 1.4em;
  text-decoration: none;
  font-weight: bold;
}
.main header .device .main-nav ul li:nth-child(1) a {
  transition: all 275ms 175ms;
}
.main header .device .main-nav ul li:nth-child(2) a {
  transition: all 275ms 225ms;
}
.main header .device .main-nav ul li:nth-child(3) a {
  transition: all 275ms 275ms;
}
.main header .device .main-nav ul li:nth-child(4) a {
  transition: all 275ms 325ms;
}
.main header .device .main-nav.is-open {
  opacity: 1;
  z-index: 100;
  visibility: visible;
}
.main header .device .main-nav.is-open::before {
  transform: skew(-14deg) translateX(0);
}
.main header .device .main-nav.is-open ul li a {
  opacity: 1;
  transform: translateY(0);
}
.main .hero_sec {
  display: grid;
  grid-template-columns: 100%;
  place-items: center;
  padding: 140px 0;
}
.main .hero_sec .hero_sec_text {
  padding: 0 300px;
  width: 100%;
}
.main .hero_sec .hero_sec_text h1 {
  font-size: 48px;
  color: #3d5a80;
  text-transform: uppercase;
  position: relative;
}
.main .hero_sec .hero_sec_text h1 .rotate-words {
  display: inline;
  margin-left: 10px;
  color: #fff;
  color: #fff;
}
.main .hero_sec .hero_sec_text h1 .rotate-words span {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  background-color: #bb93fc;
  padding-inline: 10px;
  opacity: 0;
  transform-origin: 10% 75%;
  -webkit-animation: rotateWords 16s var(--d) linear infinite;
          animation: rotateWords 16s var(--d) linear infinite;
}
.main .hero_sec .hero_sec_text a {
  display: inline-block;
  padding: 16px 27px;
  border: 1px solid #3d5a80;
  font-size: 14px;
  margin-top: 15px;
  color: #3d5a80;
  text-transform: uppercase;
  border-radius: 50px;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}
.main .hero_sec .hero_sec_text a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background-color: #3d5a80;
  border-radius: 50px;
  transition: all ease 0.8s;
  transform: scale(0);
  z-index: -1;
}
.main .hero_sec .hero_sec_text a:hover {
  border-color: transparent;
  color: #fff;
  color: #fff;
}
.main .hero_sec .hero_sec_text a:hover::before {
  transform: scale(1) translate(-30px, -70px);
}

.about {
  height: 100vh;
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .about-main {
  width: 1290px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.about .about-main img {
  width: 580px;
  max-width: 100%;
  height: auto;
  padding: 0 10px;
  border-radius: 80px;
}
.about .about-main .all-text {
  width: 600px;
  max-width: 100%;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about .about-main .all-text .about-title {
  font-size: 60px;
  color: #3d5a80;
  letter-spacing: 1px;
  margin-top: 20px;
}
.about .about-main .all-text .about-Subtitle {
  font-size: 30px;
  color: #111111;
  margin-top: 20px;
}
.about .about-main .all-text .about-text {
  font-size: 15px;
  color: #777777;
  line-height: 28px;
  margin-bottom: 20px;
  text-transform: lowercase;
  text-align: center;
}
.about .about-main .all-text .btn a {
  display: inline-block;
  padding: 16px 27px;
  font-size: 14px;
  margin-top: 15px;
  color: #3d5a80;
  text-transform: uppercase;
  border-radius: 50px;
  text-decoration: none;
  outline: none;
  padding: 20px 32px;
  cursor: pointer;
  box-shadow: 0px 12px 32px rgba(39, 69, 190, 0.102);
}
.about .about-main .all-text .btn a:hover {
  color: #fff;
  background-color: #3d5a80;
  transform-origin: left;
  transition: 0.4s ease-in;
}

@-webkit-keyframes shape {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes shape {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes shape3 {
  100% {
    transform: translate(1300px, 600px) rotate(360deg);
  }
}
@keyframes shape3 {
  100% {
    transform: translate(1300px, 600px) rotate(360deg);
  }
}
@-webkit-keyframes shape4 {
  100% {
    transform: translate(1200px, -800px) rotate(360deg);
  }
}
@keyframes shape4 {
  100% {
    transform: translate(1200px, -800px) rotate(360deg);
  }
}
@-webkit-keyframes shape5 {
  100% {
    opacity: 1;
    transform: translate(0, 800px) rotate(720deg);
  }
}
@keyframes shape5 {
  100% {
    opacity: 1;
    transform: translate(0, 800px) rotate(720deg);
  }
}
@-webkit-keyframes rotateWords {
  5% {
    opacity: 1;
  }
  10% {
    opacity: 1;
    transform: rotate(3deg);
  }
  20% {
    opacity: 1;
    transform: rotate(3deg);
  }
  15% {
    transform: rotate(-1deg);
    z-index: -2;
  }
  25% {
    opacity: 0;
    transform: translateY(90px) rotate(10deg);
  }
}
@keyframes rotateWords {
  5% {
    opacity: 1;
  }
  10% {
    opacity: 1;
    transform: rotate(3deg);
  }
  20% {
    opacity: 1;
    transform: rotate(3deg);
  }
  15% {
    transform: rotate(-1deg);
    z-index: -2;
  }
  25% {
    opacity: 0;
    transform: translateY(90px) rotate(10deg);
  }
}
@media only screen and (max-width: 415px) {
  .main {
    padding: 100px 10px;
  }
  .main header {
    text-align: center;
    padding: 0;
  }
  .main header .links {
    display: none;
  }
  .main header .logo {
    display: none;
  }
  .main header .device {
    display: block;
  }
  .main .hero_sec {
    place-items: start;
    padding: 100px 0;
  }
  .main .hero_sec .hero_sec_text {
    padding: 0;
    text-align: center;
  }
  .main .hero_sec .hero_sec_text h1 {
    font-size: 30px;
  }
  .main .hero_sec .hero_sec_text h1 .rotate-words span {
    display: block;
    width: 100%;
    text-align: center;
  }
  .main .hero_sec .hero_sec_text a {
    margin-top: 80px;
  }
  .about {
    margin-top: 60px;
  }
  .about .about-main .all-text .about-title {
    font-size: 30px;
  }
  .about .about-main .all-text .about-Subtitle {
    font-size: 20px;
  }
  .about .about-main .all-text .about-text {
    margin-top: 15px;
  }
}/*# sourceMappingURL=style.css.map */