$box_shadow: rgba(#2745be, 0.102);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #fff;
    overflow-x: hidden;
}
.main{
    header{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 300px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        .links{
            a{
                margin-right: 20px;
                font-size: 17px;
                text-transform: uppercase;
                text-decoration: none;
                color: #757373;
                position: relative;
                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: 3px;
                    transform: scaleX(0);
                    transition: transform .25s;
                }
                
                &::after {
                    bottom: -3px;
                    background-color: #f3f37e;
                    transform-origin: right;
                }
        
                &:hover {
        
                    &::before,
                    &::after {
                        transform: scaleX(1);
                    }
                }
            }
        }
        .logo{
            a{
                img{
                    width: 100px;
                }
            }
        }
    }
    .hero_sec{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        padding: 190px 0;
        .hero_sec_text{
            margin-left: 100px;
            h1{
                font-size: 48px;
                color: #3d5a80;
                text-transform: uppercase;
            }
            p{
                font-size: 16px;
                color: #293241;
                margin: 15px 0 50px 0;
                line-height: 26px;
            }
            a{
                display: inline-block;
                padding: 16px 27px;
                border: 1px solid #3d5a80;
                font-size: 14px;
                color: #3d5a80;
                text-transform: uppercase;
                border-radius: 50px;
                text-decoration: none;
                position: relative;
                overflow: hidden;
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;left: 0;right: 0;
                    margin: 0 auto;
                    width: 200px;
                    height: 200px;
                    background-color: #3d5a80;
                    border-radius: 50px;
                    transition: all ease .8s;
                    transform: scale(0);
                    z-index: -1;
                }
                &:hover{
                    border-color: transparent;
                    color: #fff;
                    &::before{
                        transform: scale(1) translate(-30px, -70px);
                    }
                }
            }
        }
        .hero_sec_img{
            max-width: 400px;
            padding-right: 100px;
            margin-left: 160px;
            .hero_sec_img_inner{
                min-width: 400px;
                display: inline-block;
                .block{
                    width: 200px;
                    height: 200px;
                    display: inline-block;
                    float: left;
                }
                .block1{
                    background-color: #3d5a80;
                    border-radius: 0 200px 0 0;
                }
                .block2{
                    background-color: #e0fbfc;
                    border-radius: 200px 0 0 0;
                }
                .block3{
                    background-color: #ee6c4d;
                    border-radius: 0 0 200px 0;
                }
                .block4{
                    background-color: #98c1d9;
                    border-radius: 0 0 0 200px;
                }
            }
        }
    }
}